  #myModal img {
    margin: 0 123px;
}

 .push {
    height: 105px;
    clear: both;
}

   /*Footer*/

footer {
    position: fixed;
    width: 100%;
    padding: 5px 0;
    clear: both;
    text-align: center;
    background-color: #b2c6e3;
    height: 2em;
    width: 100%;
    z-index: 3;
    bottom: 0;
}

#copyright {
    color: #0BFDFF;
    text-align: center;
    width: 100%;
    font-size: 12px;
    font-family: 'Georgia', Times, Times New Roman, serif;
}